
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

 .fxd {
    position : fixed;
    background : skyblue;
    color : blue;
    bottom : 15px;
    right : 15px;
    width : 150px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}